<html>
  <head>
    <title>Search Items</title>
  </head>
<body>
  <h1>Search Items</h1>
  {% if entries is not defined %}
    <form action="./search-item?user={{request.args.get('user')}}" method="post">
    Search for Item by Category or Name: <input type="text" name="query">
    <input type="submit" value="SEARCH">
    </form>
  {% else %}
    {{ email }}
    {% if entries|length > 0 %}
        <ul>
        {% for entry in entries %}
            <li><b>{{ entry.itemname}}</b> ({{ entry.startprice }}) <br>
            {{entry.ownedby}} <br>
            <i>{{entry.catname}}</i>
            <p>
            {{ entry.description }} <br>
            Auction for item number <a href="./auctions?user={{request.args.get('user')}}&itemid={{entry.itemid}}&itemname={{entry.itemname}}&startprice={{entry.startprice}}"> {{entry.itemid}}</a>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        No results.<p>
    {% endif %}
    {% endif %}

</body>
</html>
