<html>
  <head>
    <title>Sign In</title>
  </head>
<body>
  <h1>Sign In</h1>
  {% if user is not defined %}
    <form action="{{ url_for('sign-in') }}" method="post">
    Username: <input type="text" name="username">
    Email: <input type="text" name="email">
    <input type="submit" value="Sign In">
    </form>
  {% else %}
    {% if user|length > 0 %}
      <meta http-equiv="Refresh" content="0; url=./user-home" />
    {% else %}
      <h3>Not a valid username or email. Try again.</h3>
  {% endif %}
</body>
</html>
